.footer {
  font-size: 16px;
  color: $color1;
  background-color: $color2;
  &__inner {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas:
      'links-1 social links-2'
      'links-1 social copyright';
    align-items: flex-start;
    column-gap: 16px;
    padding: 20px;
  }
  &__link {
    position: relative;
    outline: none;
    transition: color 0.2s ease;
  }
  &__link::before {
    position: absolute;
    content: '';
    inset-block: -2px;
    inset-inline: -4px;
    border: 1px solid transparent;
    transition: border-color 0.2s ease;
  }
  &__link:focus::before {
    border-color: $color1;
  }
  @media (min-width: $hover-min-width) {
    &__link:hover {
      color: $color4;
    }
  }

  &__links {
    display: grid;
    gap: 10px;
  }
  &__links-1 {
    grid-area: links-1;
  }
  &__links-2 {
    grid-area: links-2;
  }
  &__social {
    grid-area: social;
    justify-self: center;
  }
  &__copyright {
    grid-area: copyright;
    align-self: flex-end;
    font-size: 12px;
  }
}

.social {
  color: white;
  display: flex;
  &__link svg {
    height: 22px;
    width: 40px;
    transition: color 0.2s ease;
  }
  @media (min-width: $hover-min-width) {
    &__link:hover svg {
      color: $color1;
    }
  }
  &__link:active svg {
    color: $color3;
  }
}

@media (max-width: 768px) {
  .footer {
    &__inner {
      grid-template-columns: 1fr auto;
      grid-template-areas:
        'links-1 social'
        'links-1 links-2'
        'links-1 copyright';
    }
    &__social {
      justify-self: flex-start;
    }
  }
}

@media (max-width: 568px) {
  .footer {
    &__inner {
      grid-template-columns: 1fr;
      gap: 10px;
      grid-template-areas:
        'social'
        'links-1'
        'links-2'
        'copyright';
    }

    &__social {
      justify-self: flex-start;
    }
  }
}
