.header-wrapper {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
  padding-right: calc(17px - (100vw - 100%));
  background-color: $color2;
}

.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    height: 100%;
  }

  &__logo {
    position: relative;
    justify-self: center;
    height: 40px;
    outline: none;
  }
  &__logo::before {
    position: absolute;
    content: '';
    inset: -6px;
    border: 2px solid transparent;
    border-radius: 50%;
    transition: border-color 0.2s ease;
  }
  &__logo:focus::before {
    border-color: $color1;
  }
  &__catalog-link {
    border: 1px solid transparent;
    padding: 1px 4px;
    font-weight: 600;
    font-size: 20px;
    color: $color1;
    transition-property: border-color, color;
    transition-duration: 0.2s;
    transition-timing-function: ease;
  }
  &__catalog-link:focus {
    outline: none;
    border-color: $color1;
  }
  @media (min-width: $hover-min-width) {
    &__catalog-link:hover {
      color: lighten($color1, 20%);
    }
  }
  &__tel {
    color: $color1;
    white-space: nowrap;
  }
  &__user-links {
    display: flex;
    gap: 5px;
  }
}

.logo {
  display: flex;
  border-radius: 50%;
  background-color: $color1;
  box-shadow: 0px 0px 5px 3px rgba(253, 216, 53, 0.9);
  &__img {
    height: 40px;
    width: 40px;
  }
}

.login-btn {
  display: flex;
  gap: 5px;
  align-items: flex-end;
  border: 1px solid transparent;
  margin: 0;
  padding: 0 5px 0 0;
  max-height: 100%;
  background-color: transparent;
  color: $color1;
  outline: none;
  transition-property: border-color color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  &:focus {
    border-color: $color1;
  }
  @media (min-width: $hover-min-width) {
    &:hover {
      color: lighten($color1, 20%);
    }
    &:hover &__svg {
      stroke: lighten($color1, 20%);
    }
  }
  &:active {
    color: $color3;
  }
  &:active &__svg {
    stroke: $color3;
  }
  cursor: pointer;
  &__svg {
    display: block;
    stroke: $color1;
    fill: transparent;
    width: 30px;
    height: 30px;
    transition: stroke 0.2s ease;
  }
}

.cart-link {
  position: relative;
  display: flex;
  align-items: flex-end;
  border: 1px solid transparent;
  margin: 0;
  padding-right: 3px;
  max-height: 100%;
  background-color: transparent;
  color: $color1;
  outline: none;
  text-decoration: none;
  transition-property: border-color color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  &:focus {
    border-color: $color1;
  }
  @media (min-width: $hover-min-width) {
    &:hover {
      color: lighten($color1, 20%);
    }
    &:hover &__svg {
      stroke: lighten($color1, 20%);
    }
  }
  &:active {
    color: $color3;
  }
  &:active &__svg {
    stroke: $color3;
  }
  cursor: pointer;
  &__svg {
    display: block;
    stroke: $color1;
    fill: transparent;
    width: 30px;
    height: 30px;
    transition: stroke 0.2s ease;
  }
  &__counter {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px 3px;
    border-radius: 10px;
    font-size: 12px;
    line-height: 1;
    color: $color4;
    background-color: $color3;
  }
}

@media (max-width: 1024px) {
  .header-wrapper {
    padding-right: 0;
  }
}
