.product-sec {
  display: grid;
  grid-template-columns: 0.7fr 0.3fr;
  grid-template-rows: auto 1fr auto;
  column-gap: 30px;
  row-gap: 20px;
  &__swiper {
    grid-row: 1 / 3;
    align-self: flex-start;
    aspect-ratio: 384 / 212;
    width: 100%;
    overflow: hidden;
  }
  &__title {
    grid-column: 2 / 3;
    grid-row: 1;
    padding-bottom: 0px;
  }
  &__descr {
    align-self: flex-start;
  }
  &__info {
    grid-column: 1 / 3;
  }
}
.product-descr-box {
  display: grid;
  row-gap: 16px;
  &__price-title {
    margin: 0 0 10px;
    font-size: 18px;
    font-weight: 600;
  }
  &__btn {
    justify-self: flex-start;
    margin-top: 16px;
  }
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-info {
  &__title {
    margin: 0 0 20px;
    font-size: 24px;
  }
  &__list {
    display: grid;
    row-gap: 15px;
  }
  &__item-title {
    margin: 0 0 10px;
    font-size: 16px;
  }
  &__inner-list {
    display: grid;
    row-gap: 10px;
    padding-left: 15px;
  }
  &__inner-item {
    display: grid;
    grid-template-columns: 0.3fr 0.7fr;
  }
  &__inner-title {
    position: relative;
    align-self: flex-end;
    display: flex;
    align-items: flex-end;
    margin: 0;
    font-weight: 800;
    font-size: 14px;
    & span {
      flex-grow: 1;
      border-bottom: 1px dotted $color5;
      margin: 0 5px;
      min-width: 15px;
    }
  }
  &__inner-text {
    align-self: flex-end;
    margin: 0;
  }
}

@media (max-width: 1024px) {
  .product-sec {
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto 1fr;
    &__swiper {
      grid-row: 2;
      align-self: center;
    }
    &__title {
      grid-column: 1 / 3;
      justify-self: center;
    }
    &__descr {
      row-gap: 12px;
      grid-row: 2;
      align-self: center;
    }
    &__btn {
      margin-top: 16px;
    }
  }
}

@media (max-width: 768px) {
  .product-sec {
    grid-template-columns: 1fr;
    &__swiper {
      grid-column: 1;
      grid-row: 2;
    }
    &__title {
      grid-column: 1;
      grid-row: 1;
    }
    &__descr {
      grid-column: 1;
      grid-row: 3;
    }
    &__info {
      grid-column: 1;
    }
  }
  .product-descr-box {
    grid-template-columns: auto auto;
    gap: 16px;
    grid-template-areas:
      'price-box brand'
      'price-box size'
      'price-box color'
      'size-picker btn';
    &__price-box {
      grid-area: price-box;
    }
    &__brand {
      grid-area: brand;
    }
    &__size {
      grid-area: size;
    }
    &__color {
      grid-area: color;
    }
    &__size-picker {
      grid-area: size-picker;
    }
    &__btn {
      grid-area: btn;
    }
    .price {
      flex-direction: column;
      gap: 4px;
    }
  }
}

@media (max-width: 568px) {
  .product-info {
    &__inner-item {
      row-gap: 4px;
      grid-template-columns: 1fr;
    }
    &__inner-title {
      & span {
        display: none;
      }
    }
  }
}
