.counter {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  row-gap: 4px;
  height: min-content;
  align-items: center;

  &__btn {
    position: relative;
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 0;
    height: 28px;
    width: 28px;
    background-color: $color2;
    cursor: pointer;
    outline: 2px solid transparent;
    transition: outline 0.2s ease;
  }
  &__btn:focus {
    outline-color: $color1;
  }
  @media (min-width: $hover-min-width) {
    &__btn:hover &__symbol {
      background-color: lighten($color1, 20%);
    }
  }
  &__btn:active &__symbol {
    background-color: red;
  }

  &__btn--plus &__symbol:nth-child(2) {
    transform: translateY(-50%) rotate(90deg);
  }
  &__symbol {
    position: absolute;
    top: 50%;
    right: 10%;
    left: 10%;
    height: 3px;
    background-color: $color1;
    transform: translateY(-50%);
    transition: background-color 0.2s ease;
  }
  &__amount-screen {
    display: flex;
    justify-content: center;
    padding: 0 4px;
    min-width: 35px;
    font-size: 24px;
  }
  &__price-for-one {
    grid-column: 1 / 4;
    justify-content: center;
  }
}
