.price {
  display: flex;
  gap: 20px;
  &__current-price {
    font-size: 20px;
    font-weight: 600;
  }
  &__old-price {
    font-size: 16px;
    color: $color5;
    text-decoration: line-through;
  }
}
