.select {
  position: relative;
  font-size: 16px;
  cursor: pointer;
  background-color: $color2;
  color: $color4;

  &__placeholder,
  &__item {
    min-width: max-content;
    transition-property: background-color, color, box-shadow, border-color;
    transition-duration: 0.2s;
    transition-timing-function: ease;
  }
  &__placeholder {
    padding: 8px 32px 8px 12px;
  }
  &__item {
    padding: 16px 32px 16px 12px;
  }
  &__placeholder {
    position: relative;
    color: $color1;
  }
  &__list-wrapper {
    position: absolute;
    z-index: 5;
    overflow-y: hidden;
    transition: height 0.2s ease;
    height: 0;
    background-color: $color2;
  }
  &__list {
    border: 1px solid $color5;
    border-top: none;
    width: 100%;
  }
  &__placeholder:focus {
    border-color: $color1;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 1);
    outline: none;
  }
  &__item:focus {
    background-color: $color5;
    outline: none;
  }
  &__item.selected {
    display: none;
  }
  &__placeholder {
    border: 1px solid $color5;
  }
  @media (min-width: $hover-min-width) {
    &__item:hover {
      box-shadow: inset 0px 0px 6px 3px rgba(0, 0, 0, 0.5);
      background-color: $color5;
    }
    &__placeholder:hover {
      color: $color1;
      background-color: $color2;
      .select-placeholder__triangle {
        border-top-color: $color1;
      }
    }
  }
}
.select-placeholder {
  position: relative;
  &__triangle {
    position: absolute;
    top: 50%;
    right: 8px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 8px 0 8px;
    border-color: $color5 transparent transparent transparent;
    transform: translateY(-50%);
    transition-property: transform border-color;
    transition-duration: 0.2s;
    transition-timing-function: ease;
  }
  &.open {
    .select-placeholder__triangle {
      transform: translateY(-50%) rotate3d(1, 0, 0, 180deg);
    }
  }
}
.select.open {
  .select-placeholder__triangle {
    transform: translateY(-50%) rotate3d(1, 0, 0, 180deg);
  }
}
