.user-form {
  display: grid;
  &__title {
    margin: 0;
    padding-bottom: 10px;
    font-weight: 400;
    color: $color1;
  }
  &__inputs {
    display: grid;
    gap: 26px;
    padding: 20px 0;
  }
  &__btn-submit {
    justify-self: flex-start;
  }
  &__account-btn {
    justify-self: flex-end;
    padding: 3px;
    border-color: transparent;
    font-size: 14px;
    color: $color7;
    background-color: transparent;
    cursor: pointer;
    font-weight: 600;
    transition-property: color, border-color;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    outline: none;
  }
  &__account-btn:focus {
    border-color: lighten($color7, 20%);
  }
  @media (min-width: $hover-min-width) {
    &__account-btn:hover {
      color: lighten($color7, 20%);
    }
  }
  &__account-btn:active {
    color: lighten($color7, 40%);
  }
  .app-input__input.focus + .app-input__label {
    color: $color1;
    background-color: transparent;
  }
}
