*,
*::before,
*::after {
  box-sizing: border-box;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  padding: 0;
}
html,
body {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  min-height: 100vh;
}

#app {
  display: grid;
  grid-template-rows: 1fr;
  min-height: 100vh;
}
* {
  scrollbar-width: thin;
  scrollbar-color: $white $black;
}
