*,
*::before,
*::after {
  box-sizing: border-box;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  padding: 0;
}
html,
body {
  min-height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  overflow-y: scroll;
}

.app {
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
  &__main {
    padding-top: 80px;
  }
}
.main {
  margin-bottom: 36px;
  min-width: 380px;
}
.section {
  max-width: 1440px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media (max-width: 1024px) {
  html,
  body {
    padding-right: 0;
  }
  .section {
  }
}
