.appear-enter-active,
.appear-leave-active {
  transition: opacity 0.2s ease;
}
.appear-enter-from,
.appear-leave-to {
  opacity: 0;
}

.appear-left-enter-active,
.appear-left-leave-active {
  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
}
.appear-left-enter-from {
  opacity: 0;
  transform: translateX(-100%);
}
.appear-left-enter-to,
.appear-left-leave-from {
  opacity: 1;
  transform: translateX(0);
}
.appear-left-leave-to {
  opacity: 0;
  transform: translateX(-100%);
}

.appear-top-enter-active,
.appear-top-leave-active {
  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
}
.appear-top-enter-from {
  opacity: 0;
  transform: translateY(-100%);
}
.appear-top-enter-to,
.appear-top-leave-from,
.appear-top-leave-to {
  opacity: 1;
  transform: translateX(0);
}

.flip-enter-active,
.flip-leave-active {
  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
}
.flip-enter-from,
.flip-leave-to {
  opacity: 0;
  transform: rotateX(90deg);
}
