$sunglow: #ffc929;
$sunglowLighten: lighten($sunglow, 20%);
$black: #000;
$grenadier: #dd2c00;
$white: #fff;
$boulder: #757575;
$lochmara: #0277bd;
$alto: #dbdbdb;

$layoutBackground: rgba($black, 0.4);

$hover-min-width: '(min-width: 769px)';

$screen-huge: '(max-width: 1024px)';
$screen-medium: '(max-width: 768px)';
$screen-small: '(max-width: 568px)';
